@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: rgb(112, 255, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'poppins', sans-serif;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragraph{
    border: 3px solid black;
    border-radius: 20px;
    margin: 20px auto;
    width: 75%;
    padding: 25px 30px;
    background-color: beige;
    cursor: pointer;
}

/* .paragraph .text p{
    font-size: 15px;
} */

p{
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    font-weight: 450;
}

/* .text-area{
    width: 100%;
} */

textarea{
    border: 3px solid black;
    border-radius: 20px;
    width: 65%;
    margin: 10px auto;
    padding: 15px 30px 100px 30px;
    height: 45px;
    background-color: rgb(224, 224, 224);
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    font-weight: 450;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

input::placeholder{
    color: black;
    font-family: 'poppins', sans-serif;
    font-weight: 450;
    font-size: 18px;
}

.btn{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 10px 10px;
    padding: 10px 25px;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 163, 130);
}

button:hover{
    background-color: rgb(255, 97, 97);
    color: rgb(21, 0, 255);
    cursor: pointer;
}

.info{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 15px 50px;
    background-color: beige;
}

.intro {
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 15px 50px;
    background-color: beige;
}

.intro h1{
    font-size: 50px;
    font-weight: 700;
}

.intro p{
    font-size: 20px;
    font-weight: 500;
}

.intro input{
    padding: 10px 25px;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    color: gray;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 163, 130);
}

.intro button{
    padding: 10px 25px;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 163, 130);
}

.intro button:hover{
    background-color: rgb(255, 97, 97);
    color: rgb(21, 0, 255);
    cursor: pointer;
}

.intro input:hover{
    background-color: rgb(255, 97, 97);
    color: rgb(21, 0, 255);
    cursor: pointer;
}
