<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typing Speed Test</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <main>
        <nav class="nav">
            <ul>
                <div class="logo">TYT</div>
                <div class="links">
                    <li><a href="/templates/index.html">Home</a></li>
                    <li><a href="/templates/test.html">Start Test</a></li>
                    <li><a href="/templates/contact.html">Contact Us</a></li>
                </div>
            </ul>
        </nav>
        <div class="page1">
            <img src="/assets/main.png" alt="Img">
            <!-- <video autoplay loop muted src="/assets/main.mp4"></video> -->
            <h1 id="main-title">Test Your <br><span>Typing Speed.</span></h1>
            <p>Measure your speed, accuracy, and performance in real <br> time. Choose your challenge and see how fast you can <br> type.</p>
            <button id="start-btn">Start Test</button>
        </div>
        <div class="page2">
            <div class="info1">
                <h2 class="how">How It <span>Works?</span></h2>
                <div class="cards">
                    <div class="card ">
                        <h3>01</h3>
                        <h4>CHOOSE</h4>
                        <p>Select your paragraph, difficulty, and time limit.</p>
                    </div>
                    <div class="card">
                        <h3>02</h3>
                        <h4>TYPE</h4>
                        <p>Type as quickly and accurately as you can.</p>
                    </div>
                    <div class="card">
                        <h3>03</h3>
                        <h4>IMPROVE</h4>
                        <p>Check your WPM, accuracy, and errors.</p>
                    </div>
                </div>
            </div>
            <div class="info2">
                <h2>Everything You Need to <span>Type Better.</span></h2>
                <div class="cards">
                    <div class="card ">
                        <i data-lucide="zap" style="width: 35px; height: 35px; color: lime;"></i>
                        <h4>TYPING SPEED</h4>
                        <p>Track your Words Per Minute and understand your true typing pace.</p>
                    </div>
                    <div class="card">
                        <i data-lucide="target" style="width: 35px; height: 35px; color: lime;"></i>
                        <h4>ACCURACY</h4>
                        <p>See exactly how accurately you type while the test is running.</p>
                    </div>
                    <div class="card">
                        <i data-lucide="chart-no-axes-column" style="width: 35px; height: 35px; color: lime;"></i>
                        <h4>DIFFICULTY</h4>
                        <p>Choose from easy, medium, and hard challenges.</p>
                    </div>
                    <div class="card">
                        <i data-lucide="clock" style="width: 35px; height: 35px; color: lime;"></i>
                        <h4>HISTORY</h4>
                        <p>Save your personal best and track your improvement over time.</p>
                    </div>
                </div>
            </div>
            <div class="link2">
                <h2>Ready To <span>Test</span> Your <span>Typing Speed?</span></h2>
                <p>Choose a challenge and start typing!</p>
                <button id="start-btn">Start Test</button>
            </div>
        </div>
        <footer>
            <div class="footer">
                <p>© 2024 Typing Speed Test. All rights reserved.</p>
            </div>
            <div class="links">
                <a href="/templates/index.html">Home</a>
                <a href="/templates/test.html">Start Test</a>
                <a href="/templates/contact.html">Contact Us</a>
            </div>
        </footer>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/gsap@3.15/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.15/dist/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons({
            attrs: {
                stroke: 'rgb(0, 255, 0)',
                'stroke-width': 1.5
            }
        });
    </script>
    <script src="/static/js/script.js"></script>
</body>

</html>