<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Your Typing Speed</title>
    <link rel="stylesheet" href="static/test.css">
</head>
<body>
    Test Your Typing Speed
    <section class="left">
        <div class="paragraph">
            <p class="para"></p>
        </div>
    </section>
    <section class="right">
        <div class="input">
            <input type="text">
        </div>
        <div class="btn">
            <button id="start-btn">Start Test</button>
            <button id="reset-btn">Reset Test</button>
        </div>
        <div class="info">
            <p id="timer">Time: 60s</p>
            <p id="wpm">WPM: 0</p>
            <p id="accuracy">Accuracy: 0%</p>
        </div>
    </section>
</body>
</html>